h1 {
    padding-left: 30px;
    color: white;

} 

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

.menu {
    padding-right: 30px;
    margin-right:20 ;

} 

a:link{
 color: rgb(161, 248, 0);   
}

a:visited{
color: rgb(247, 10, 42);   
}

.item{
 position: relative;   
}



.item p {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
opacity: 0;

}

.item:hover p{
opacity: 1;    

}

.item:hover img{
opacity: 0.33;

}